@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font: 18px "Poppins", Tahoma, sans-serif;
    line-height: 1.8;
    color: #053034;
    background-color: #00000;
    padding-top: 0px !important;
  }

.textcontainer {
  padding: 2% 10%;;
}

p {font-size: 16px;}
.margin {margin-bottom: 30px;}

a {
  color: #E3165B;
}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

nav {
  background-color: #FFFFFF;
  color: #053034;
  padding: 50px 0px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  background-color: #00000;
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: #053034;
}

.nav-link {
  padding: 10px 30px;
  background-color: #00000;
  color: #053034;
  transition: 0.3s;
}

.nav-link:hover {
  padding: 10px 30px;
  background-color: #00000;
  transition: 0.3s;
}

#btn {
  padding: 10px 30px;
  background-color: #00000;
  color: #053034;
  transition: 0.3s;
}

#btn:hover {
  padding: 0px 0px;
  background-color: #00000;
  transition: 0.3s;
}

.row {
  margin: auto auto;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}

.center-row {
  display: flex;
  justify-content: center;
}

code {
  background-color: #00000;
  color: #EEE7E8;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: gray;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;
}

.box {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
 .code-box {
  width: 500px; /* Adjust as needed */
  height: 500px; /* Adjust as needed */
  overflow: auto;
  border: 4px solid #ccc;
  padding: 10px;}

    pre {
    background-color: #f7f7f7;
    border: 1px solid #e1e1e8;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  margin: 10px;